.about {
  padding-top: 117px;
  padding-bottom: 154px;
  padding-left: 16px;
  padding-right: 16px;
  background-image: url("../public/img/about/about_bg.png");
  background-size: 102% 104%;
  background-position: center;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 768px) {
    padding-top: 35px;
    padding-bottom: 35px;
    background-image: url("../public/img/about/about_bg_mobile.png");
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.26);
    z-index: -1;
  }
}

.about__container {
  width: min(1526px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding: 211px 186px 186px 186px;
  border: 2px solid #fff;
  border-radius: 95px;
  background-image: url("../public/img/about/about_container_bg.png");
  background-size: 105% 105%;
  background-position: center;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1279px) {
    padding: 60px;
  }
  @media screen and (max-width: 768px) {
    padding: 35px 24px;
    border-radius: 44px;
    background-size: 140% 102%;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 95px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.34);
    z-index: -1;

    @media screen and (max-width: 768px) {
      border-radius: 44px;
      background: rgba(0, 0, 0, 0.29);
    }
  }
}

.about__title {
  margin-bottom: 36px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 96px;

  @media screen and (max-width: 1279px) {
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: left;
  }
}

.about__description {
  max-width: 1060px;
  margin-bottom: 50px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 1279px) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 768px) {
    max-width: 290px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
    font-size: 14px;
    text-align: left;
  }
}

.about__btn {
  width: 269px;
  height: 68px;
  border-radius: 7px;
  background: #f7a08d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  transition: filter 200ms ease;

  @media screen and (max-width: 1279px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 768px) {
    width: 112px;
    height: 32px;
    margin: 0;
    font-size: 14px;
  }

  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(1);
  }
}
